{% extends 'base.html' %}

{% block container %}
    <div class="hero-text">
        <h3>Here's the best way to do all that stuff!</h3>
        <ol>
            {% for errand in route %}
             <li>{{ errand['name'] }}: {{ errand['formatted_address'] }}</li>
        {% endfor %}
        </ol>
        <p>Total travel time: {{ time }}</p>
        <!--
        <ul>
        <script> 
            var errandList = JSON.parse(localStorage.getItem('errand'));
            // to print entire array use command below
            //document.write(errandList);
                
                
            // to print each item individually 
            for (var i = 0; i<errandList.length; i++) {
                document.write(errandList[i]);
                document.write("<br>");
            }
                
        </script>
        </ul>
        -->
    </div>  
{% endblock %}
        
